@import url(http://fonts.googleapis.com/css?family=Chango);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

/*PRELOADER ITEMS GO HERE*/
body{
  background-color: #2ecc71;
  
-webkit-animation: bodyPreloader 3s;
  
}

.opening img{
    position: relative;
    top: 150px;
    z-index: 20;
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
  -webkit-animation: emblemPreload 4s ease-out;
}

/*WEBSITE CSS ELEMENTS GO HERE*/
#description{
  z-index: 10;
  margin: auto;
  width: 500px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  background-color:#27ae60;
  border-radius: 10px;
  font-family: 'Lato';
  color: white;
  text-indent: 10px;
  -webkit-animation: content 1s ease-in;
  
}




/*Animation*/

@-webkit-keyframes content{
    0%{opacity: 0;}
}

@-webkit-keyframes bodyPreloader{
  0%{background:black;}
 
}

@-webkit-keyframes emblemPreload{
  0%{opacity: 1;}
  50%{opacity: 0;]
  100%{opacity: 0;}
}
